body{
    margin: 0;
    padding: 0;
}

.auth form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 2px 5px 13px #0000001c;
    border-radius: 15px;
    margin-top: 50px;
    font-family: sans-serif;
}

.auth form h1{
    margin-top: 0;
    text-align: center;
    margin-bottom: 20px;
}

.auth-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.auth-form label{
    margin-bottom: 5px;
}

.auth-form input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #cfcfcf;
    outline: none;
    transition: all .2s ease;
}

.auth-form input:hover, .auth-form input:focus{
    border-color: blue;
}

.auth-btn{
    padding: 10px;
    border: none;
    background: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.auth-btn:hover, .auth-btn:focus{
    opacity: .8;
}